<div id="Cookies" class="win-message" aria-expanded='false'>
  <div class="content">
    <p>
      {{ texts[renderData.language].win_cookies_text }} <a href="{{ basics[renderData.language].link_cookies }}" rel="nofollow">{{ texts[renderData.language].win_cookies_link_text }}</a>
    </p>
  </div>
  <div class="controls">
    <button class="btn-ok" data-ok><span class="text">{{ texts[renderData.language].accept }}</span></button>
    <button class="btn-ok" data-cancel><span class="text">{{ texts[renderData.language].cancel }}</span></button>
  </div>
</div>
