<div id="Message" class="win-message" aria-expanded='false'>
  <div class="content">
    <p></p>
  </div>
  <div class="controls">
    <button class="btn-ok" data-toggle-window="message"><span class="text">Aceptar</span></button>
  </div>
</div>
