{% macro block(data) %}
    <section class="block_related_projects" scroll-item>
        BLOCK RELATED PROJECTS
        <ul class="block_related_projects__items">
            {% for item in data.projects %}
                {% set project = utils.get(all[renderData.language].projects, item.project.ID) %}
                <li>
                    <a class="project __project" href="{{ project.link }}">
                        {{ project.title.rendered }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endmacro %}