---
renderData:
  language: "{{ data.language }}"
  title: "{{ data.acf.seo.title }}"
  description: "{{ data.acf.seo.description }}"
  image: "{{ data.acf.seo.image.sizes.facebook }}"
  image_twitter: "{{ data.acf.seo.image.sizes.twitter }}"
pagination:
  data: pages_news
  size: 1
  alias: data
permalink: "{{ data.link }}"
layout: layout/default
---

{% set __page = data.acf.options.page or 'default' %}
{% set __palette = 'project' %}
{% import "flexible.njk" as FlexibleContent with context %}

<article class='default --grid-project' data-page='project' data-palette='{{ __palette }}'>
  {{ FlexibleContent.flexible(data.acf.blocks_projects) }}
</article>